@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

.newPass {
  position: relative;
  width: 350px;
  height: 400px;
  margin: 0 auto;
  padding: 30px;
  background: #F9F9FE;
  border: 1px solid darkcyan;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &_title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2D2E46;
    margin-top: 0;
    margin-bottom: 32px;
  }
  &_input {
    margin-top: 20px;
    input {
      width: 270px
    }
  }
  &_descr {
    width: auto;
    margin-top: 70px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #2D2E46;
    opacity: 0.5;
  }
  &_button {
    margin-top: 50px;
    button {
      width: 200px;
    }
  }
  &_loading, &_error {
    position: absolute;
    top: 69%;
  }
  &_error {
    color: red;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    width: 260px;
  }
}

.passwordError {
  position: absolute;
  top: 37%;
  left: 12%;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  color: red;
}