.mainBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    
    margin: auto;

    border: 1px solid green;
    border-radius: 10px;

    width: 70vh;
    height: 70vh;
}

.title {
    height: 30px;
}

.title h1 {
    margin: 0;
}

.loading {
    height: 20px;
}