@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");


.mainBlock {
  position: relative;
  width: 350px;
  height: 500px;
  margin: 0 auto;
  padding: 30px;
  background: #F9F9FE;
  border: 1px solid darkcyan;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2D2E46;
    margin-top: 0;
    margin-bottom: 32px;
  }
  .emailInput {
    input {
      width: 100%;
    }
  }
  .info {
    margin-top: 60px;
    font-size: 14px;
    line-height: 17px;
    color: #2D2E46;
    cursor: pointer;
    text-decoration: none;
  }
  .button {
    margin-top: 120px;
    
    button {
      width: 150px;
      margin: 0 25%;
    }
  }
  .secondInfo {
    margin-top: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #2D2E46;
    opacity: 0.5;
  }
  .loginRedirect {
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #21268F;
  }
  .loading {
    position: absolute;
    top: 28%;
  }
  .errorMessage {
    position: absolute;
    top: 28%;
    color: red;
    font-size: 15px;
  }
  .successfulMessage {
    color: green;
  }
}