@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");


.mainBlock, .successfulMessageBlock {
  position: relative;
  width: 350px;
  height: 500px;
  margin: 0 auto;
  padding: 30px;
  background: #F9F9FE;
  border: 1px solid darkcyan;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2D2E46;
    margin-top: 0;
    margin-bottom: 32px;
  }
  .emailInput {
    margin-top: 20px;
    input {
      width: 100%;
    }
  }
  .info {
    width: auto;
    margin-top: 70px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #2D2E46;
    opacity: 0.5;
  }
  .button {
    margin-top: 60px;
    button {
      width: 200px;
      margin: 0 16%;
    }
  }
  .secondInfo {
    margin-top: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #2D2E46;
    opacity: 0.5;
  }
  .loginRedirect {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #21268F;
  }
  .loading {
    position: absolute;
    top: 30%;
  }
  .errorMessage {
    position: absolute;
    font-family: Poppins;
    top: 30%;
    color: red;
    font-size: 13px;
  }
}

.successfulMessageBlock {
  height: 430px;
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  .title {
    margin-top: 35px;
    margin-bottom: 0;
  }
  .descr {
    font-family: Poppins;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #2D2E46;
    opacity: 0.7;
  }
}