.header {
    nav {
        width: 1200px;
        height: 30px;
        margin: 0 auto 80px auto;
        padding-top: 10px;
    }
    &_linkList {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 0;
        &-item {
            font-size: 18px;
            color: darkcyan;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        &-activeItem {
            color: violet;
            text-decoration: none;
        }
    }
}



