.default {
    padding: 0 8px 0 8px;
    transition: 1s all;
    text-align: center;
    height: 25px;
    background: darkcyan;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.red {
    text-align: center;
    height: 25px;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: red;
}

.red:hover, .default:hover {
    background: darkslateblue;
}